<!--<div class="wrap wrap-customer">-->

<!--&lt;!&ndash;  <app-borrowing-formular [borrowing]="actBorrowing"&ndash;&gt;-->
<!--&lt;!&ndash;                          (addBorrowing)="add($event)"&ndash;&gt;-->
<!--&lt;!&ndash;                          [customers]="customers"     [books]="books">&ndash;&gt;-->


<!--&lt;!&ndash;  </app-borrowing-formular>&ndash;&gt;-->
<!--</div>-->

<div class="wrap wrap-customer">
  <app-borrowing-zoznam  [borrowings]="borrowings" [customers]="customers"
                         (removeBorrowing)="removeBorrowingFromList($event)"
  >

  </app-borrowing-zoznam>
</div>




