<div class="nav"> <button class="btn-secondary btn-low" (click)="goHome()"><-- Home</button>

  <div><button class="btn-secondary " (click)="goCustomers()">🕵️ &nbsp;Customers</button>
    <button class="btn-secondary" style="margin-right: 0" (click)="goBooks()">📚 &nbsp;Books</button></div>

</div>

<div class="container">
  <img class="img-menu img-customer" width="140px" src="https://i.ibb.co/7ybvTKm/perspective-matte-3.png">
  <h1 class="h-center">New borrowing</h1>
  <br>
  <form [formGroup]="form" >

    <input formControlName="bookId">

    <input formControlName="customerId">

  </form>
  <button class="btn-focus" (click)="add()" *ngIf="form.value.id === null">Add borrowing</button>

</div>

