<h1>New book</h1>
<div class="container">
<form [formGroup]="form">
  <label>Author's first name
  <input formControlName="authorFirstName"><br></label>
  <label>Author's last name
  <input formControlName="authorLastName"><br></label>
  <label>Title of book
  <input formControlName="title"><br></label>
  <label>Isbn
  <input formControlName="isbn"><br></label>
  <label>Id
  <input formControlName="id"><br></label>
  <label> Amount of books
  <input type="number" formControlName="bookCount"><br></label>
  <button class="btn-focus" (click)="add()" *ngIf="form.value.id === null">Create</button>
  <button class="btn-focus" (click)="edit()" *ngIf="form.value.id !== null">Edit</button>
  <button class="btn-secondary" (click)="remove()">Reset</button>
</form>
</div>
