<h1>List of customers</h1>

<div *ngIf="!customers || customers?.length === 0">
  List of customers is empty
</div>

<table class="table" id="table" *ngIf="customers?.length > 0">
  <thead>
  <th>ID</th>
  <th>FIRST NAME</th>
  <th>LAST NAME</th>
  <th>CONTACT</th>
  <th></th>
  </thead>
  <tbody>
  <tr *ngFor="let c of customers">
    <td>{{c.id}}</td>
    <td>{{c.firstName}}</td>
    <td>{{c.lastName}}</td>
    <td>{{c.contact}}</td>
    <td>
        <button class="btn-secondary" (click)="edit(c)">Edit</button>
        <button class="btn-remove" (click)="remove(c)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>



