<div class="nav"> <button class="btn-secondary btn-low" (click)="goHome()"><-- Home</button>
<div><button class="btn-secondary" (click)="goCustomers()">🕵️ &nbsp;Customers</button>
  <button class="btn-focus" (click)="goBorrowings()">Borrow book</button></div>  </div>
<div class="container">
<form [formGroup]="form">
  <img class="img-menu img-customer" width="140px" src="https://i.ibb.co/7W8vk5R/perspective-glossy.png">
  <h1 class="h-center">New book</h1>
  <br>
  <label>Author's first name
  <input [ngClass]="{'input-error': form.get('authorFirstName').invalid && form.get('authorFirstName').touched}"  formControlName="authorFirstName">
  <span class="error-message" *ngIf="form.get('authorFirstName').invalid && form.get('authorFirstName').touched">Please, enter author's first name</span></label>
  <br>
  <label>Author's last name
  <input  [ngClass]="{'input-error': form.get('authorLastName').invalid && form.get('authorLastName').touched}" formControlName="authorLastName">
    <span class="error-message" *ngIf="form.get('authorLastName').invalid && form.get('authorLastName').touched">Please, enter author's last name</span>
  </label>
  <br>
  <label>Title of book
  <input  [ngClass]="{'input-error': form.get('title').invalid && form.get('title').touched}" formControlName="title">
    <span class="error-message" *ngIf="form.get('title').invalid && form.get('title').touched">Please, enter author's last name</span>
  </label>
  <br>
  <label>Isbn
  <input  [ngClass]="{'input-error': form.get('isbn').invalid && form.get('isbn').touched}" formControlName="isbn">
    <span class="error-message" *ngIf="form.get('isbn').invalid && form.get('isbn').touched">Please, enter the correct isbn</span>
  </label>
  <br>
  <label> Amount of books
  <input  [ngClass]="{'input-error': form.get('bookCount').invalid && form.get('bookCount').touched}" type="number" formControlName="bookCount">
    <span class="error-message" *ngIf="form.get('bookCount').invalid && form.get('bookCount').touched">Please, enter the correct amount of books</span>
  </label>

  <div class="buttons-container">
  <button [disabled]="form.invalid" class="btn-focus" (click)="add()" *ngIf="form.value.id === null">Add book</button>
  <button [disabled]="form.invalid" class="btn-focus" (click)="edit()" *ngIf="form.value.id !== null">Update</button>
  <button class="btn-secondary" (click)="remove()">Reset</button>
  </div>
</form>
</div>
