<div class="flex justify-content-between flex-wrap card-container">
  <button pButton class="p-button-text text-black-alpha-90 p-button-sm p-button-rounded hover:surface-100 text-base font-bold" icon="pi pi-arrow-left" iconPos="left" label="Home" (click)="goHome()"></button>

  <div class="flex justify-content-end flex-wrap card-container">
    <button pButton class="p-button-text p-button-raised p-button-sm shadow-3 bg-gray-200 text-black-alpha-90 text-base font-semibold hover:bg-gray-300 p-2 m-2 mr-3" (click)="goCustomers()">🕵️&nbsp;Customers</button>
    <button pButton class="p-button-text p-button-raised p-button-sm p-button-rounded shadow-3 bg-blue-500 text-0 text-base font-semibold mt-1" (click)="goBorrowings()">Borrow Book</button>
  </div>

</div>

<div class="flex flex-column card-container container">
<form [formGroup]="form">
  <img class="img-menu img-customer" width="140px" src="https://i.ibb.co/7W8vk5R/perspective-glossy.png">
  <h1 class="h-center">New Book</h1>
  <br>
  <label>Author's name
  <input [ngClass]="{'input-error': form.get('authorName').invalid && form.get('authorName').touched}"  formControlName="authorName">
    <p-message severity="error" text="Please enter author's name!" *ngIf="form.get('authorName').invalid && form.get('authorName').touched"></p-message>
  </label>
  <br>
  <label>Title of book
  <input  [ngClass]="{'input-error': form.get('title').invalid && form.get('title').touched}" formControlName="title">
    <p-message severity="error" text="Please enter author's last name!" *ngIf="form.get('title').invalid && form.get('title').touched"></p-message>
  </label>
  <br>
  <label>Isbn
  <input  [ngClass]="{'input-error': form.get('isbn').invalid && form.get('isbn').touched}" formControlName="isbn">
    <p-message severity="error" text="Please enter the correct ISBN" *ngIf="form.get('isbn').invalid && form.get('isbn').touched"></p-message>
  </label>
  <br>
  <div class="flex justify-content-between align-items-start">
    <div >
  <label> Available books
  <input [ngClass]="{'input-small-error': form.get('bookCount').invalid && form.get('bookCount').touched}" type="number" formControlName="bookCount">
<!--    <span class="error-message" *ngIf="form.get('bookCount').invalid && form.get('bookCount').touched">Incorrect number</span>-->
  </label></div>
    <div  class="input-small-container">
  <label> Number of pages
    <input  [ngClass]="{'input-small-error': form.get('numberOfPages').invalid && form.get('numberOfPages').touched}" type="number" formControlName="numberOfPages">
<!--    <span class="error-message" *ngIf="form.get('numberOfPages').invalid && form.get('numberOfPages').touched">Incorrect number</span>-->
  </label>
    </div>
  </div>
  <label> Genres
    <input  [ngClass]="{'input-error': form.get('genres').invalid && form.get('genres').touched}" formControlName="genres">
    <p-message severity="error" text="Please enter the correct amount of books!" *ngIf="form.get('genres').invalid && form.get('genres').touched"></p-message>
  </label>

  <div class="flex justify-content-center flex-wrap card-container">
  <button pButton [disabled]="form.invalid" class="p-button-text p-button-raised p-button-sm shadow-3 bg-blue-500 text-0 text-base m-1 font-semibold" (click)="add()" *ngIf="form.value.id === null">Add Book</button>
  <button pButton [disabled]="form.invalid" class="p-button-text p-button-raised p-button-sm shadow-3 bg-blue-500 text-0 text-base m-1 font-semibold" (click)="edit()" *ngIf="form.value.id !== null">Update</button>
  <button pButton class="p-button-text p-button-raised p-button-sm shadow-3 bg-gray-200 text-black-alpha-90 text-base m-1 font-semibold hover:bg-gray-300" (click)="remove()">Reset</button>
  </div>
</form>
</div>
