<style>
  table, td, th {
    border: 1px solid #ddd;
    text-align: left;
  }

  table {
    border-collapse: collapse;
    width: 50%;
  }

  th, td {
    padding: 10px;
  }
</style>

{{title}}
<button (click)="otvorMenu(menu.USERS)">osoby</button>
<button (click)="otvorMenu(menu.BOOKS)">knihy</button>
<button (click)="otvorMenu(menu.BORROWINGS)">vypozicky</button>
<br>
<br>
<router-outlet></router-outlet>

<!--CUSTOMERS FORM
<div *ngIf="aktMenu == menu.USERS">
  id: <input type="text" [(ngModel)]="user.id"><br><br>
  name: <input type="text" [(ngModel)]="user.name"><br><br>
  contact: <input type="text" [(ngModel)]="user.contact"><br>
  <button (click)="addUser()">Pridaj</button><br>
  Zoznam: <br>
  <table >
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>CONTACT</th>
    </tr>
    <tr *ngFor="let u of users">
      <td>{{u.id}}</td>
      <td>{{u.name}}</td>
      <td>{{u.contact}}</td>
    </tr>
  </table>
</div>
-->

<!--BORROWINGS FORM
<div *ngIf="aktMenu == menu.BORROWINGS">
  id: <input type="text" [(ngModel)]="borrowing.id"><br><br>
  book: <input type="text" [(ngModel)]="borrowing.book"><br><br>
  user: <input type="text" [(ngModel)]="borrowing.user"><br><br>
  <button (click)="addBorrowing()">Pridaj pozicku</button><br>
  Zoznam: <br>
  <table>
    <tr>
      <th>ID</th>
      <th>BOOK</th>
      <th>USER</th>
    </tr>
    <tr *ngFor="let borrow of borrowings">
      <td>{{borrow.id}}</td>
      <td>{{borrow.book}}</td>
      <td>{{borrow.user}}</td>
    </tr>
  </table>
</div>
-->
