<div>
  dec: <input (input)="prevod()" [(ngModel)]="dec"> <br><br>
  bin &nbsp;
  <input type="checkbox" (change)="checkCheckBoxvalue($event)" value="128" id="128" #checkboxes>  <!-- 0 -->
  <input type="checkbox" (change)="checkCheckBoxvalue($event)" value="64" id="64" #checkboxes>
  <input type="checkbox" (change)="checkCheckBoxvalue($event)" value="32" id="32" #checkboxes>
  <input type="checkbox" (change)="checkCheckBoxvalue($event)" value="16" id="16" #checkboxes>
  <input type="checkbox" (change)="checkCheckBoxvalue($event)" value="8" id="8" #checkboxes>
  <input type="checkbox" (change)="checkCheckBoxvalue($event)" value="4" id="4" #checkboxes>
  <input type="checkbox" (change)="checkCheckBoxvalue($event)" value="2" id="2" #checkboxes>
  <input type="checkbox" (change)="checkCheckBoxvalue($event)" value="1" id="1" #checkboxes>   <!-- 7 -->
  <br><br>

</div>
