 <div class="nav"> <button class="btn-secondary btn-low" (click)="chodSpat()"><-- Home</button>


 <div><button class="btn-secondary" (click)="goBooks()">📚&nbsp; Books</button>
   <button class="btn-focus" (click)="goBorrowings()">Borrow book</button></div>

 </div>

<div class="container">
  <img class="img-menu img-customer" width="140px" src="https://i.ibb.co/XxPRBfh/customer.png">
  <h1 class="h-center">New Customer</h1>
  <br>
<form [formGroup]="form" >
  <label>First name
    <input class="input"
           [ngClass]="{'input-error': form.get('firstName').invalid && form.get('firstName').touched}" formControlName="firstName" >
   <span class="error-message" *ngIf="form.get('firstName').invalid && form.get('firstName').touched">Please, enter the client's first name</span>
  </label>
  <br>
  <label>Last name
    <input class="input"  [ngClass]="{'input-error': form.get('lastName').invalid && form.get('lastName').touched}" formControlName="lastName">
    <span class="error-message" *ngIf="form.get('lastName').invalid && form.get('lastName').touched">Please, enter the client's last name</span>
  </label>
  <br>
  <label>Phone number
    <input class="input" [ngClass]="{'input-error': form.get('phoneNumber').invalid && form.get('phoneNumber').touched}" formControlName="phoneNumber">
    <span class="error-message" *ngIf="form.get('phoneNumber').invalid && form.get('phoneNumber').touched">Please, enter the correct email</span>
  </label><br>
  <label>Email
    <input class="input" [ngClass]="{'input-error': form.get('email').invalid && form.get('email').touched}" formControlName="email">
    <span class="error-message" *ngIf="form.get('email').invalid && form.get('email').touched">Please, enter the correct email</span>
  </label><br>

  <div class="buttons-container">
    <button [disabled]="form.invalid"  class="btn-focus" (click)="add()" *ngIf="form.value.id === null">Add customer</button>
    <button [disabled]="form.invalid" class="btn-focus" (click)="edit()" *ngIf="form.value.id !== null">Update</button>
    <button class="btn-secondary" (click)="remove()">Reset</button>
  </div>

</form>
</div>
