/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}
body{
  margin: 0 auto;
  scrollbar-width: none;
  padding: 36px;
  font-family: 'Inter', sans-serif;
}
a:active,
a:hover,
a:visited,
a {
  text-decoration: none;
}
input,
textarea {
  outline: none;
}

h1{
  line-height: 36px;
}

label{
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.container{
  width: 540px;
}

#table {
  border-collapse: collapse;
  border: 1px solid #E8E9ED;
}

#table td, #table th {
  padding: 8px;
}
#table tr{
  border: 1px solid #E8E9ED;
}

#table tr:hover{
  background: #FAFAFA;
  cursor: pointer;
  transition: 0.3s;
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #FAFAFA;
  color: #24262F;
}

.btn-focus{
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 16px;
  background: #3A72FE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-right: 8px;
}

.btn-focus:hover{
  background: #4177FE;
  transition: 0.3s;
}

.btn-focus:active{
  background: #316AF9;
  transition: 0.3s;
}

.btn-focus:disabled, .btn-focus[disabled=disabled]{
  background: #6590FE;
  cursor: not-allowed;
}

.btn-remove{
  font-family: 'Inter', sans-serif;
  color: #F90000;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 16px;
  background: #FFEFEF;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-right: 8px;
}

.btn-remove:hover{
  background: #FEE7E6;
  transition: 0.3s;
}

.btn-secondary{
  font-family: 'Inter', sans-serif;
  color: #24262F;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 16px;
  background: #F6F7F7;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-right: 8px;
}

.btn-secondary:hover{
  transition: 0.3s;
  background: #EDEDED;
}

input {
  width: 100%;
  padding: 12px 12px;
  border: 1px solid #E0E2E8;
  border-radius: 8px;
  margin: 8px 0 16px 0;
}

.input:active{
}

.input:focus{
  border: 1.5px solid #B6CBFE;
  outline: 3px solid #E6EEFE;
  transition: 0.05s;
}
.error-message{
  color: #F80100;
  font-weight: 400;
  font-size: 12px;
  display: inline-block;
  margin-bottom: 12px;
}

.input-error{
  margin: 8px 0 4px 0;
  border: 1.5px solid #F90000;
}

.buttons-container{
  margin: 12px 0;
}
