<h1>List of customers</h1>
<br>
<div *ngIf="!customers || customers?.length === 0">
  List of customers is empty
</div>

<table class="table" id="table" *ngIf="customers?.length > 0">
  <thead>
  <th>ID</th>
  <th>Full name</th>
  <th>Phone number</th>
  <th>Contact</th>
  <th></th>
  </thead>
  <tbody>
  <tr *ngFor="let c of customers">
    <td>{{c.id}}</td>
    <td >{{c.firstName}}&nbsp;{{c.lastName}}</td>
    <td>{{c.phoneNumber}}</td>
    <td>{{c.email}}</td>
    <td>
      <div id="col-btn">
        <button pButton class="p-button-text p-button-raised p-button-sm shadow-none bg-gray-200 text-black-alpha-90 text-base m-1 font-semibold p-2 hover:bg-gray-300" (click)="edit(c.id)">Edit</button>
        <swal
          #deleteSwal
          title="Delete {{c.firstName}} {{c.lastName}}?"
          text="This cannot be undone"
          icon="question"
          [showCancelButton]="true"
          [focusCancel]="true"
          [swalOptions]="{ confirmButtonText: 'Confirm' }"
          (confirm)="remove(c.id)">
        </swal>
        <button pButton class="p-button-text p-button-danger p-button-raised p-button-sm shadow-none text-base m-1 font-semibold p-2" [swal]="deleteSwal">Delete</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>



